<!DOCTYPE html>
<html lang="ja"> 
    <head>
        <title>【ニコ生】きょろちゃんPart4【ほうれい線】| Yちゃんねる</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="has-text-centered">
                <h1 class="is-size-3 m-2">Yちゃんねる</h1>
            </div>
        </nav>
        <main class="has-background-white-ter">
            <form id="hiddenThread2" method="get">
                <input id="thread_ID" type="hidden" name="threadid" value="<%= threid %>">
                <input id="range" type="hidden" name="range" value="<%= range %>">
            </form>
            <div>
                <div id="warning" class="m-2">
                </div>
                <div class="m-2 pt-4 pb-4 is-size-4">
                    <h1 id="thread_title" class="has-text-weight-bold"></h1>
                </div>
                <div class="columns m-2 has-text-centered is-mobile has-text-danger-dark">
                    <div class="column is-half">
                        <h id="less"></h2>
                    </div>
                    <div class="column">
                        <h2></h2>
                    </div>
                </div>
                <div class="columns m-2 has-text-centered">
                    <div class="button m-1 column message has-background-white-bis">
                        <a href="/thread?threid=<%= threid %>&range=1">全部</a>
                    </div>
                    <div class="button m-1 column message has-background-white-bis">
                        <a href="/thread?threid=<%= threid %>&range=2">1-100</a>
                    </div>
                    <div class="button m-1 column message has-background-white-bis">
                        <a href="/thread?threid=<%= threid %>&range=3">最新50</a>
                    </div>
                </div>
                <div class="columns m-2 has-text-centered">
                    <div class="button m-1 column message has-background-white-bis">
                        <a href="/" class="has-text-primary">掲示板に戻る</a>
                    </div>
                </div>
            </div>
            <div>
                <!--掲示コンテンツ3つ-->
                <div class="m-5">
                    <div>
                        <ul id="first" class="pb-6">
                        </ul>
                        <ul id="HERE">
                        </ul>
                    </div>
                    <div class="m-4">
                        <div class="columns m-2 is-mobile is-centered">
                            <div class="button m-1 column message has-background-white-bis is-half is-offset-one-quarter">
                                <a href="/thread?threid=<%= threid %>&range=3"">新着レスの表示</a>
                            </div>
                        </div>
                        <div class="columns m-2 has-text-centered">
                            <div class="button m-1 column message has-background-white-bis">
                                <a href="/thread?threid=<%= threid %>&range=1">全部</a>
                            </div>
                            <div class="button m-1 column message has-background-white-bis">
                                <a href="/thread?threid=<%= threid %>&range=2">1-100</a>
                            </div>
                            <div class="button m-1 column message has-background-white-bis">
                                <a href="/thread?threid=<%= threid %>&range=3">最新50</a>
                            </div>
                        </div>
                        <div class="columns m-2 has-text-centered">
                            <div class="button m-1 column message has-background-white-bis">
                                <a href="/" class="has-text-primary">掲示板に戻る</a>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div id="notifiers" class="m-2">
                        </div>
                        <div class="m-2">
                            <form id="inputThread2" method="post">
                                <div class="m-2">
                                    <strong>レスを投稿する</strong>
                                </div>                      
                                <div class="field">
                                    <div class="control">
                                        <input id="inputnameDom2" class="input" type="text" placeholder="名前:(省略可)"> 
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <textarea id="inputcontentsDom2" class="textarea" placeholder="コメント内容"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-text-right">
                                        <button class="button is-black" type="submit">書き込む</button>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="has-background-info-light">
            <div class="m-4 has-text-centered ">
                last modified at 2022/04/11 19:28:56 JST
            </div>
        </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script_thread.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
            });
        });
        });
    </script>
</html>